input {
    text-align: center;
}

.form-control-lg {
    font-size: 1.8rem;
}

.cursor {
    cursor: pointer;
}

.creaTarea{
    background: rgba(201, 203, 163, 0.5);
    margin: 10px auto;
    width: 90%;   
    border-radius: 10px;   
    border: 1px solid #ccc;   
    padding: 20px;   
    box-shadow: 0px 0px 10px #ccc;    
}

.tablaTarea{
    /*fadding hex background*/


    background: rgba(201, 203, 163, 0.5);
    margin: 10px auto;
    width: 90%;   
    border-radius: 10px;   
    border: 1px solid #ccc;   
    padding: 20px;   
    box-shadow: 0px 0px 10px #ccc;    
}